---
product:
  environment: dev
  apps:
  - name: "app"
    version: "${APP_VERSION}"
    instances: 2
    network: "private1"
  - name: "loadbalancer"
    version: "${LOADBALANCER_VERSION}"
    instances: 2
    network: "public"
